<!DOCTYPE html>
<html lang="ro">
	<head><title>Pe linie - despre</title>
	<% include fragments/head %>
	<link rel="stylesheet" type="text/css" href="style-despre.css">
	</head>
	<body>
		<% include fragments/header %>
		<main>
		<h1>Pe linie</h1>
			<article>
			
			<section>
				<h2>Despre ce e site-ul?</h2>
				<p>Este un site despre aproape orice.</p>
				<p>Utilizatorii pot distribui fotografii, pe care toti ceilalti utilizatori le pot vedea pe pagina publica.</p>
				<p>Vizitatorii pot vota postariile si in functie de scor postarile vor primi sau nu intaietate pe pagina.</p>
			</section>
			<section>
				<h2>Cele trei nivele</h2>
				<p>Postarile pot aparea pe 3 nivele <b>Hot</b>, <b>Trendinig</b> si <b>Fresh</b> in functie de voturi.</p>
				<p>Prima data un nou post va intra in Fresh si va urca daca acesta este placut.</p>
			</section>
			<section>
				<h2>Cum incarci?</h2>
				<p>Pentru a incarca o fotografie se foloseste butonul de <i>upload</i>, se selecteaza fisierul, care trebuie
				sa fie neaparat unul din aceste tipuri
				<ul>
					<li>jpg</li>
					<li>jpeg</li>
					<li>png</li>
					<li>gif</li>
				</ul>
				si de maxim 2 mb, apoi se scrie un titlu sugestiv si se apasa butonul de upload. 
			</section>
			</article>
<article>
			<h2>5 fotografii celebre și poveștile incredibile din spatele lor</h2>


<p>Un infinit de emoții învăluie lumea în care trăim, iar unele dintre ele răzbat până la noi, datorită camerelor foto. Iată șase imagini celebre și poveștile incredibile din spatele lor.</p>

<p>Nu știm niciodată ce se va întâmpla și încercăm să ne amintim cum putem mai bine momentele plăcute. Odată cu trecerea timpului, amintirile ne apar ca prin ceață, însă clișeele foto vor fi mereu o amprentă incontestabilă, o dovadă că momentele surprinse au avut loc cu adevărat.</p>

<p>Pentru că orice fotografie are de spus o poveste, în acest articol iți prezentăm șase imagini celebre în toată lumea și poveștile incredibile din spatele lor.</p>
<section>
<h3>„Vedere de la fereastră în Le Gras”</h3>

 <figure>
  <img src="fotografii-celebre-le-gras.jpg">
  <figcaption>„Vedere de la fereastră în Le Gras” este prima fotografie din istorie. Foto: Wikimedia</figcaption>
</figure> 
<p>Galeria de fotografii celebre trebuie să înceapă cu „Vedere de la fereastră în Le Gras”, prima fotografie din istorie. A fost realizată de inventatorul francez Nicéphore Niépce în 1826.</p>

<p>Primul fotograf din istorie a avut nevoie de opt ore pentru a realiza această imagine. El a captat imaginea de la fereastra biroului său din Franța.</p>

<p>În acea epocă, litografierea era metoda cea mai la îndemână pentru reproducerea imaginilor, iar pe Nicéphore Niépce îl fascina cu adevărat. Însă, pentru că nu era prea îndemânatic, avea nevoie de ajutorul fiului său pentru a termina întregul proces.</p>

<p>Când fiul său s-a înrolat în armată, Nicéphore Niépce a început să caute o altă metodă de reproducere a imaginilor și și-a concentrat atenția asupra unui dispozitiv numit camera obscură. Întrucât nu știa să deseneze bine, s-a gândit să folosească un material fotosensibil, astfel încât lumina însăși „să deseneze” imaginea.</p>

<p>După mai multe încercări, a stabilit că va folosi substanța numită bitum de Iudeea, întinsă pe o placă de cositor. A aplicat bitumul și l-a lăsat pe placă timp de opt ore.</p>

<p>Treptat, bitumul de Iudeea a început să se întărească pe porțiunile expuse la lumină, dând naștere astfel unei fotografii rudimentare. Apoi, a îndepărtat restul de bitum cu apă de lavandă, scoțând la iveală imaginea cu acoperișuri de case și vârfuri de copaci vizibilă de la fereastra biroului său.</p>

<p>Astfel, Nicéphore Niépce a developat prima fotografie din istorie.</p>
</section>
<section>
<h3>„Prânz în vârful unui zgârie-nori”</h3>

<p>Fotografia „Prânz în vârful unui zgârie-nori” a fost realizată în timpul construcției turnului Rockefeller Center din New York. Imaginea înfățișează 11 bărbați așezați pe o grindă de oțel, la mai mult de 250 de metri deasupra străzilor din New York, luând masa de prânz.</p>

<p>Unii au afirmat că această fotografie, realizată în 20 septembrie 1932, a fost trucată sau „înscenată”. Într-adevăr, imaginea înfățișează 11 muncitori reali, cei mai mulți dintre ei de origine irlandeză.</p>
 <figure>
  <img src="fotografii-celebre-pranz-in-varful-unui-zgarie-nori.jpg">
  <figcaption>Indiferent cum a fost realizată, „Prânz în vârful unui zgârie-nori” a intrat definitiv în istoria fotografiei. Foto: Wikimedia</figcaption>
</figure>
<p>Este probabil ca fotografia să fi fost pregătită de Rockefeller Center pentru a promova noua clădire (a cărei construcție se afla în faza finală). Această fotografie celebră a fost realizată într-o perioadă când orașul suferea efectele Marii Depresiuni Economice.</p>

<p>În acele vremuri, oamenii acceptau orice fel de loc de muncă, indiferent de cât de periculos era. Acest lucru pare evident în fotografie; niciunul dintre muncitori nu are legături de protecție.</p>

<p>De-a lungul anilor au apărut numeroase speculații cu privire la identitățile reale ale acestor bărbați, însă câteva dintre ele au fost stabilite cu certitudine. Al treilea de la stânga la dreapta este Joseph Eckner, al patrulea se numește Michael Breheny, iar al șaselea este John Patrick Madden.</p>

<p>Primul om de la dreapta este muncitorul slovac Gustáv (Gusti) Popovič. În 1932, Gusti i-a trimis soției sale, Mariska, o carte poștală cu această fotografie, pe care a scris următoarele:</p>

    <q>Nu-ți face griji, dragă Mariska, după cum vezi, sunt tot cu sticla în mână. Al tău, Gusti</q>
</section>
<section>
<h3>„Dali Atomicus”</h3>
<figure>
  <img src="fotografii-celebre-dali-atomic.jpg">
  <figcaption>„Dali Atomicus” – încă o ipostază a excentricității faimosului pictor</figcaption>
</figure>
<p>Inspirat de tabloul lui Salvador Dali, „Leda Atomica”, fotograful Philippe Halsman a creat o scenă elaborată în jurul marelui artist. A avut nevoie de 26 de încercări până când a surprins cu camera foto momentul perfect.</p>

<p>Înainte de Photoshop, a existat un duo ciudat, format dintr-un fotograf și un pictor, care a dat naștere unui portret ieșit din comun. Pictorul a fost Salvador Dali, iar fotograful a fost Philippe Halsman.</p>

<p>Halsmann l-a cunoscut pe Dali pe vremea când locuia la Paris, în anii ’30. În 1949, Dali a realizat portretul „Leda Atomica”, unde „atomica” înseamnă totul în suspensie.</p>

<p>Tabloul o înfățișează pe Leda, mitologica regină a Spartei, alături de o lebădă, în timp ce diverse obiecte, o carte, un echer, două scaune și un ou plutesc în jurul lor.</p>

<p>Inspirat de această pictură, Halsman a colaborat cu Dali la un proiect de fotografie. Prima ideea lui Dali a fost să folosească o rață căreia să-i înfigă în posterior un baton de dinamită, apoi să o arunce în aer. Însă Halsman a refuzat, de teamă să nu fie arestați.</p>

<p>În cele din urmă au ajuns la ideea să folosească trei pisici și apă. Au folosit fire foarte subțiri, de care au atârnat scaunul, șevaletul și pictura Leda Atomica, iar soția lui Dali a sprijinit în imagine celălalt scaun.</p>

<p>Halsman număra până la patru și, când ajungea să strige „trei!”, asistenții aruncau apa și pisicile în aer, iar la „patru!” sărea și Dali. Sarcina de a surprinde totul suspendat era foarte dificilă, pentru că toate mișcările trebuia făcute în același timp.</p>

<p>Dali și Halsman au reușit în cele din urmă, după 26 de încercări.</p>
</section>
<section>
<h3>„Parașutiști la Zidul Plângerii”</h3>

<p>Când vine vorba de fotografii celebre realizate în război, „Parașutiști la Zidul Plângerii” este una dintre cele mai emoționante. Imaginea înfățișează câțiva parașutiști israelieni, stând lângă Zidul Plângerii, imediat după recucerirea Ierusalimului în timpul Războiului de Șase Zile.</p>

<p>Fotografia a fost realizată pe 7 iunie 1967, de David Rubinger. În noaptea de dinainte, Rubinger se afla în Sinai, alături de brigada care a rupt frontul.</p>
<figure>
  <img src="fotografii-celebre-parasutist.jpg">
  <figcaption>„Parașutiști la Zidul Plângerii” s-au reunit după decenii pentru a recrea momentul intrat în istorie. Foto: Wikimedia</figcaption>
</figure>
    <p><q>Am auzit la radio că se vorbea ceva despre Ierusalim, iar un elicopter a aterizat pentru a prelua câțiva răniți. Iar eu – nimeni nu m-a întrebat nimic, nu existau bilete pentru acel zbor – m-am strecurat alături de ei</q>, a povestit ulterior Rubinger.</p>

<p>Fotograful a zburat către Beer Șeva, iar de acolo a mers cu o mașină până la Ierusalim. Odată ajuns acolo, s-a îndreptat către Zidul Plângerii, ajungând acolo doar cu câteva minute înainte ca parașutiștii să cucerească orașul. Pentru a avea un unghi mai bun, Rubinger s-a lăsat la pământ și a început să facă fotografii.</p>

<p><q>Stăteam pe jos și făceam poze, iar acești soldați au trecut prin cadru</q>, a povestit Rubinger.</p>

<p>Fotografia sa nu doar că a imortalizat curajul parașutiștilor, ci și sfârșitul visului de două milenii al evreilor de a se întoarce la Ierusalim. De la stânga la dreapta, soldații israelieni din imagine sunt Zion Karasenti, Yitzhak Yifat și Haim Oshri.</p>

<p>Peste 40 de ani, în 2007, cei trei s-au reîntâlnit pentru a recrea imaginea surprinsă de Rubinger.</p>
</section>
<section>
<h3>„Fata afgană”</h3>
<figure>
  <img src="fotografii-celebre-fara-afgana.jpg">
  <figcaption>„Fata afgană” a fascinat cu privirea o lume întreagă</figcaption>
</figure>
<p>„Fata afgană” este, cu siguranță, în top 10 fotografii celebre ale tuturor timpurilor. Imaginea unei fete afgane de 12 ani, cu niște ochi de un verde hipnotizant, a făcut furori în întreaga lume.</p>

<p>Fotografia a fost realizată în 1984 de jurnalistul Steve McCurry și a apărut pe coperta din iunie 1985 a revistei National Geographic. În ziua în care a făcut fotografia, McCurry se afla într-o tabără de refugiați din Pakistan.</p>

<p>Pe când se afla în cortul care servea drept școală, privirile i-au fost atrase de chipul ieșit din comun al unei fete de 12 ani. Dându-și seama că e timidă, McCurry a abordat-o și i-a cerut permisiunea să-i facă o poză.</p>

<p>În acel moment, fotograful n-avea idee de vâlva pe care avea s-o stârnească acea imagine. În ciuda așteptărilor lui McCurry, fotografia s-a dovedit a fi o capodoperă, o imagine sfâșietoare a unei țări distruse de război.</p>

<p>Timp de 18 ani, nimeni n-a știut cum o cheamă pe celebra fată afgană. Dar, în ianuarie 2002, Steve McCurry a plecat în Pakistan să o caute pe fata cu ochii verzi. A arătat poza ei într-o tabără de refugiați de lângă Peshawar.</p>

<p>Un bărbat i-a spus că o cunoaște și că fata s-a întors în Afganistan în urmă cu câțiva ani, dar că va merge după ea. Peste trei zile, bărbatul s-a întors însoțit de cineva.</p>

<p>Chiar dacă trecuseră 18 ani, McCurry a recunoscut-o imediat ce a văzut-o. Pe fata afgană o cheamă Sharbat Gula.</p>
</section>

<aside><a href="https://incredibilia.ro/6-fotografii-celebre-povesti-incredibile/" target="_blank">Sursa articolului: incredibila.ro</a></aside>
</article>
		</main>
		<% include fragments/modal %>
		<% include fragments/footer %>
		<script></script>
	</body>
</html>