<!DOCTYPE html>
<html lang="ro">
	<head><title>Pe linie</title>
	<meta name="google-site-verification" content="6irtGyLWJGda4vCwCz6GL4gFqk9GAjzY-auGg83xIJU" />
	<% include fragments/head %>
	<style>
		#change{
			font-size: 20px;
			cursor: pointer;
			padding: 15px;
		}
		#change:hover, #change:active{
			color: red;
		}
		#response{
			font-size: 20px;
			color: red;
		}
		#password2{
			display: none;
		}
		main{
			margin: auto;
			width: 80%;
			min-width: 280px;
			border-radius: 10px;
			border: 1px solid black;
			padding: 10px;
			text-align: center;
			background-color: white;
			animation-name: effect;
			animation-duration: 1s;
			animation-iteration-count: 1;
			position: relative;
		}
		body{
			background: linear-gradient(rgb(240, 30, 20),rgb(60, 140, 222));
			background-size: 200% 200%;
			animation-name: gradient;
			animation-duration: 15s;
			animation-iteration-count: infinite;
			animation-fill-mode: forwards;
		}
		@keyframes gradient{
			0%{background-position:50% 0%;}
			50%{background-position:50% 50%;}
			100%{background-position:50% 0%;}
		}
		main h1{
			font-size: 50px;
			text-decoration: underline;
		}
		img{
			animation-name: effect;
			animation-duration: 2s;
			animation-iteration-count: 1;
			position: relative;
		}
		@keyframes effect{
			0%{
				opacity: 0;
				top: 50px;
			}
			100%{
				opacity: 1;
				top: 0px;
			}
		}
		@media screen and (max-width: 600px){
			main h1{
			font-size: 30px;
			text-decoration: none;
			font-weight: bold;
			}
		}
	</style>
	</head>
	<body>
		<main>
			<img src="logo.png" width="35%">
			<h1>Log in</h1>
			<input type="text" placeholder="Nume" id="name"><br>
			<input type="password" placeholder="Parola" id="password"><br>
			<input type="password" placeholder="Introduce-ti din nou parola" id="password2"><br>
			<button onclick="Login()">Login</button>
			<div id="response"></div>
			<div id="change" onclick="change()">Nu ai cont?</div>
		</main>
		<aside>
		Beta 0.9.0<br>
		Bugfixes<br>
		-poza de profil nu ramanea<br>
		-butoanele de la profil pe mobil<br>
		-formatul datei pe unele dispozitive<br>
		-butoane care nu mergeau decat pe home<br>
		-butonul de share este acum functional<br>
		-fundalul pe pagina de eroare
		</aside>
		<% include fragments/footer %>
	</body>
	 <script>
		function change(){
			var h1 = document.getElementsByTagName("h1")[0].innerHTML;
			if(h1 == "Log in"){
				document.getElementsByTagName("h1")[0].innerHTML = "Inregistrare";
				document.getElementById("password2").style.display = "inline";
				document.getElementsByTagName("button")[0].innerHTML = "Inregistreaza";
				document.getElementsByTagName("button")[0].onclick = Register;
				document.getElementById("change").innerHTML = "Esti deja inregistrat?";
			}else{
				document.getElementsByTagName("h1")[0].innerHTML = "Log in";
				document.getElementById("password2").style.display = "none";
				document.getElementsByTagName("button")[0].innerHTML = "Login";
				document.getElementsByTagName("button")[0].onclick = Login;
				document.getElementById("change").innerHTML = "Nu ai cont?";
			}
		}
		
		function Response(text){
			document.getElementById("response").innerHTML = text;
			var t = setTimeout(function (){ document.getElementById("response").innerHTML = ""; }, 3000);
		}
		
		function Register(){
			var name = document.getElementById("name").value;
			var password = document.getElementById("password").value;
			var password2 = document.getElementById("password2").value;
			var xhttp = new XMLHttpRequest();
			xhttp.open("POST", "/sign_up", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send(`name=${name}&password=${password}&password2=${password2}`);
			xhttp.onreadystatechange = function() {
				if(this.readyState == 4 && this.status == 200) {
					Response(this.responseText);
				}
			}
		}

		function Login(){
			var name = document.getElementById("name").value;
			var password = document.getElementById("password").value;
			var xhttp = new XMLHttpRequest();
			xhttp.open("POST", "/log_in", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send(`name=${name}&password=${password}`);
			xhttp.onreadystatechange = function() {
				if(this.readyState == 4 && this.status == 200) {
					if(this.responseText == "corect")
						window.location.href = '/';
					else
						Response(this.responseText);
				}
			}
		}
		window.addEventListener("keypress",function(ev){
			if(ev.keyCode === 13){
				document.getElementsByTagName("button")[0].click();
			}
		});
	 </script>
</html>