<!DOCTYPE html>
<html lang="ro">
	<head><title>Pe linie</title>
	<meta name="google-site-verification" content="6irtGyLWJGda4vCwCz6GL4gFqk9GAjzY-auGg83xIJU" />
	<link rel="stylesheet" type="text/css" href="login.css">
	<% include fragments/head %>
	</head>
	<body>
		<main>
			<img src="logo.png" width="35%">
			<h1>Log in</h1>
			<input type="text" placeholder="Nume" id="name"><br>
			<input type="password" placeholder="Parola" id="password"><br>
			<input type="password" placeholder="Introduce-ti din nou parola" id="password2"><br>
			<button onclick="Login()">Login</button>
			<div id="response"></div>
			<div id="change" onclick="change()">Nu ai cont?</div>
		</main>
		<% include fragments/footer %>
	</body>
	 <script src="login.js"></script>
</html>