<img src="logo.png" id="logo">
<header>
	<a href="/account">Cont</a>
	<a href="/log_out">Log out</a>
	<a class="upload" onclick = "uploadgui()">+ Upload</a>
	<a href="/despre">Despre</a>
	<div class="dropdown">
		<div class="dropdownTitle">Nivele</div>
		<ul class="dropdown-content">
			<li>Hot</li>
			<li>Fresh</li>
		</ul
	</div>
</header>