<div id = "modal">
	<div id = "modal-content">
		<figure><button class = "close" onclick="uploadclose()"></button></figure>
		Titlu: <input type="text" placeholder="Titlu" id="caption"><br>
		Categorie: <select id="category"></select><br>
		<input type="file" name="photo" accept="image/*" id="photo"/><br>
		<button onclick="upload()">Incarca</button>
		<div id="response"></div>
	</div>
</div>